@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-light">Easy Flights</h1>
    <br />
    <p>Welcome To Easy Flights one stop store for buying flight tickets</p>
    <p>Making flight bookings simple and easy</p>
    <p>We have got them all, Airlines we maen still waiting for pokemons to evolve into real world</p>
    <p>This was made as a part of COMP2084 course in Georgian College</p>
    <p>All the data seen here is to show the functionality of the web app only!!</p>
</div>
