@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Support";
}

<h1>@ViewData["Title"]</h1>

<ul>
    <li>
        <a asp-controller="Support" asp-action="/FAQ">FAQ</a>
    </li>
    <li>
        <a asp-controller="Support" asp-action="/Chat">Contact via live chat</a>
    </li>
    <li>
        <a asp-controller="Support" asp-action="/Email">Contact via email</a>
    </li>
</ul>
