@model FilghtTicketApplication.Models.Flight

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center">EDIT</h1>

<h2 class="text-center">
    @Html.DisplayFor(model => model.flightName)
</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="flightID" />
            <div class="form-group">
                <label asp-for="flightName" class="control-label">Flight Name</label>
                <input asp-for="flightName" class="form-control" />
                <span asp-validation-for="flightName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="airlineID" class="control-label">Airiline</label>
                <select asp-for="airlineID" class="form-control" asp-items="ViewBag.airlineID"></select>
                <span asp-validation-for="airlineID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="departureDate" class="control-label">Departure</label>
                <input asp-for="departureDate" class="form-control" />
                <span asp-validation-for="departureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="landingTime" class="control-label">Lading</label>
                <input asp-for="landingTime" class="form-control" />
                <span asp-validation-for="landingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="departureFrom" class="control-label">From</label>
                <input asp-for="departureFrom" class="form-control" />
                <span asp-validation-for="departureFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="arrivalAt" class="control-label">To</label>
                <input asp-for="arrivalAt" class="form-control" />
                <span asp-validation-for="arrivalAt" class="text-danger"></span>
            </div>

            <br />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<br />

<div>
    <a asp-action="Index" class="btn btn-info">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
