@{
    ViewData["Title"] = "404 Not Found";
}

<h1 class="text-center">Yup! 404</h1>
<h2 class="text-center">Sorry, the page requested is not available</h2>
<br />
<p class="text-center">Please return to the home page by clicking <a asp-controller="Home" asp-action="Index">here</a> </p>
