html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}


th {
    color:aliceblue;

}

body {
  margin-bottom: 60px;
}

a{
    text-decoration: none;
    color:aliceblue;
}

p{
    color:aliceblue;
}

a:hover {
    cursor: pointer;
    color: blue;
}

h1, h2, h4, p {
    color: aliceblue;
}

dd, dt{
    color:aquamarine;
}

td{
    color: aliceblue;
}

.table{
    background-color: darkslategrey;
}

tbody > tr:hover {
    background-color: #343a40;
}



label {
    color:aliceblue;
}

.form-control {
    background-color: darkslategrey;
    color: aliceblue;
}

#cardBody, #flightCard {
    border-color: aliceblue;
    border-radius: 3rem;
    width: inherit;
}

#flightCard:hover{
    background-color: darkslategray;
}

table.sortable th:hover {
    cursor: pointer;
}

.sorttable_nosort {
    cursor: default !important;
}

.btn-info:hover {
    background-color: lawngreen;
}

.btn-primary:hover{
    background-color: mediumblue;
}

btn-danger:hover {
    background-color: #180000;
}